/* Small device responsive stars here */

@media screen and (max-width: 576px) {
  /* nav responsive starts here */

  .nav-container {
    flex-direction: column;
  }

  .nav-items-container {
    flex-direction: column;
    width: 100%;
  }
  .nav-items-container a {
    margin-bottom: 20px;
  }

  /* nav responsive ends here */

  /* Banner responsive stars here */

  .banner-container {
    flex-direction: column;
  }
  .banner-image-container {
    width: 100%;
    padding: 0 20px;
  }
  .banner-text-container {
    width: 100%;
    text-align: center;
  }

  /* Banner responsive ends here */

  /* online games section responsive starts here */

  .online-games-img-container {
    grid-template-columns: 1fr;
    margin: 10px 15px 0;
  }

  /* online games section responsive ends here */

  /* Play section design starts here */

  .play-instantly-container {
    flex-direction: column;
    margin-top: 200px;
    justify-content: center;
  }
  .play-text-container {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }

  .play-photo-container {
    width: 40%;
  }

  .play-photo-container .img-baby {
    margin-left: 20px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: -70px;
    bottom: -100px;
  }
  /* Play section design ends here */

  /* Footer section responsive starts here */

  .footer-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
  }
  .social-icon {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    margin-top: 50px;
  }
  .social-icon a {
    margin-top: 10px;
  }
  .policy {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    margin-top: 50px;
  }
  .copyright {
    width: 50%;
    margin: auto;
  }

  /* Footer section responsive end here */
}
/* Small device responsive ends here */
