/* Small device responsive stars here */

@media screen and (max-width: 576px) {
  /* nav responsive starts here */

  .nav-container {
    flex-direction: column;
  }

  .nav-items-container {
    flex-direction: column;
    width: 100%;
  }
  .nav-items-container a {
    margin-bottom: 20px;
  }

  /* nav responsive ends here */

  /* Banner responsive stars here */

  .banner-container {
    flex-direction: column;
  }
  .banner-image-container {
    width: 100%;
    padding: 0 20px;
  }
  .banner-text-container {
    width: 100%;
    text-align: center;
  }

  /* Banner responsive ends here */

  /* online games section responsive starts here */

  .online-games-img-container {
    grid-template-columns: 1fr;
    margin: 10px 15px 0;
  }

  /* Small device responsive ends here */

  /* online games section responsive ends here */
}
/* Small device responsive ends here */
