/* Common Shared styles starts here */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* Common Shared styles ends here */

/* nav design starts here */

.nav-section {
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
.nav-logo-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.nav-logo-container img {
  width: 50px;
  object-fit: cover;
  margin-right: 16px;
}
.nav-logo-container p {
  color: #0b0223;
  font-size: 30px;
  font-weight: 700;
}
.nav-logo-container p span {
  color: #ff42a5;
}
.nav-items-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}
.nav-items-container a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.nav-items-container .btn-follow-us {
  border-radius: 5px;
  background-color: rgba(11, 2, 35, 0.1);
  padding: 10px 20px;
}

/* nav design ends here */

/* Banner design starts here */

.banner-section {
}
.banner-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.banner-text-container {
  width: 50%;
}
.banner-title {
  color: #0b0223;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}
.banner-title-special {
  font-size: 65px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-description {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  /* margin-top: 20px; */
  margin-bottom: 10px;
}
.banner-text-container .click-instant {
  margin-top: 25px;
}
.banner-image-container {
  width: 50%;
}
.banner-image-container img {
  width: 100%;
  height: 100%;
}

/* Banner design ends here */
